{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <title>Books</title>
  </head>
  <body>
    <header>
      <div class="header">
        <div class="container">
          <div class="header-wrap">
            <div class="logo">
              <a href="#">LOGOTYPE</a>
            </div>
            <nav>
              <ul class="list-sections">
                <li>
                  <a href="#" class="item-section"> Главная </a>
                </li>
                <li>
                  <a href="#" class="item-section"> Каталог книг </a>
                </li>
                <li>
                  <a href="#" class="item-section"> Сервис </a>
                </li>
                <li>
                  <a href="#" class="item-section"> О нас </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <form action="{%url 'add-new-book'%}" class="added-form" method="POST">
          {%csrf_token%}
          <div class="flex-conteiner">
            <input
              type="text"
              name="title"
              placeholder="Input title"
              class="form-control input-form"
            />
            <input
              type="text"
              name="subtitle"
              placeholder="Input subtitle"
              class="form-control input-form"
            />
            <input
              type="text"
              name="description"
              placeholder="Input description"
              class="form-control input-form"
            />
            <input
              type="text"
              name="price"
              placeholder="Input price"
              class="form-control input-form"
            />
            <input
              type="text"
              name="genre"
              placeholder="Input genre"
              class="form-control input-form"
            />
            <input
              type="text"
              name="author"
              placeholder="Input author"
              class="form-control input-form"
            />
            <input
              type="text"
              name="year"
              placeholder="Input year"
              class="form-control input-form"
            />
          </div>
          <button class="btn btn-primary">Add New Books</button>
        </form>
        <div class="wrapper">
          {% for book in books_list%}
          <div class="book-card">
            <img src="#" class="book-img" />
            <div class="book-text">
              <div class="title">Название: {{book.title}}</div>
              <div class="author">Автор: {{book.author}}</div>
              <div class="release-date">Дата издания: {{book.year}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>
